# Auto detect text files and perform LF normalization
* text=auto

# Documents
*.md text diff=markdown
*.txt text
*.html text diff=html
*.css text diff=css
*.js text

# Python files
*.py text diff=python
*.pyw text diff=python
requirements.txt text

# Serialization
*.json text
*.yaml text
*.yml text

# Git Config
.gitattributes text
.gitignore text
.gitconfig text